appName: SSO JWT
apiKey: V0tNRU1BTkdKRUxFSw==
server:
    addr: 0.0.0.0:8083
database:
    dsn: host=localhost user=user_golang password=AAAaaa123 dbname=users port=5432 sslmode=disable TimeZone=Asia/Jakarta
    maxidleconns: 1000
    maxopenconns: 10000
    connmaxlifetime: 60
    connmaxidletime: 10